version: "3"
services:
    kmysql:
        image: mysql:5.7.22
        restart: always
        ports:
            - 3306:3306
        environment:
            MYSQL_DATABASE: ${KDBNAME}
            MYSQL_USER: ${KDBUSER}
            MYSQL_PASSWORD: ${KDBPASS}
            MYSQL_ROOT_PASSWORD: ${KDBPASSROOT}
        volumes:
         - db_data:/var/lib/mysql
    kmyadmin:
        image: phpmyadmin/phpmyadmin
        restart: always
        links:
            - kmysql:db
        ports:
            - 83:80
        environment:
            MYSQL_USER: ${KDBUSER}
            MYSQL_PASSWORD: ${KDBPASS}
            MYSQL_ROOT_PASSWORD: ${KDBPASSROOT}
volumes:
    db_data: {}
